<div class="container">
    <h3 class="center-align">Editar Servicio</h3>
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="edit()">
        <input formControlName="id" type="hidden" class="validate" />
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="fecha" type="date" class="validate" />
          <label class="active" for="fecha">fecha</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="hora" type="time" class="validate" />
          <label class="active" for="hora">Hora</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="valor" type="number" class="validate" />
          <label class="active" for="valor">Valor</label>
        </div>
      </div>
      <div class="input-field col s12">
        <select class="browser-default" formControlName="origen" >
          <option value="" disabled selected></option>
          <option *ngFor="let cliente of listadoClientes" value="{{cliente.nombre}} - {{cliente.apellidos}} ">{{cliente.nombre}} - {{cliente.apellidos}}</option>
        </select>
        <label class="active" for="origen">Origen</label>
      </div>
      <div class="input-field col s12">
        <select class="browser-default" formControlName="destino" >
          <option value="" disabled selected></option>
          <option *ngFor="let cliente of listadoClientes" value="{{cliente.pais}} - {{cliente.ciudad}} - {{cliente.departamento}} - {{cliente.direccion}} ">{{cliente.pais}} - {{cliente.ciudad}} - {{cliente.departamento}} - {{cliente.direccion}}</option>
        </select>
        <label class="active" for="destino">Destino</label>
      </div>
      <div class="input-field col s12">
        <select class="browser-default" formControlName="encomienda" >
          <option value="" disabled selected></option>
          <option *ngFor="let encomienda of listadoEncomiendas" value="{{encomienda.descripcion}} - {{encomienda.peso}} - {{encomienda.tipo}} - {{encomienda.presentacion}}">{{encomienda.descripcion}} - {{encomienda.peso}} - {{encomienda.tipo}} - {{encomienda.presentacion}}</option>
        </select>
        <label class="active" for="encomienda">encomienda</label>
      </div>
      <div class="row center-align">
        <button
          [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit"name="action">
          Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
