<footer class="page-footer blue darken-1">
  <div class="container blue darken-1">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MisionTIC 2022</h5>
        <p class="grey-text text-lighten-4">Grupo 27 - Ciclo 4 - Equipo 5</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Miembros</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Sebastian B.</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Miguel G.</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Luis E.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright MiguelGG
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>